= '\n'

// WebApp settings
meta(name='apple-mobile-web-app-capable', content='yes')/
meta(name='apple-mobile-web-app-title', content='Martin\'s ' + pkg.name)/
meta(name='application-name', content='Martin\'s ' + pkg.name)/
