/* =========================| Gallery Slider |========================= */



$shot-width: 80%;
$shot-max-width: 1280px;
$shot-side-offset: 39px;

$pagination-dot-size: 16px;
$pagination-dot-color: $gray-666;
$pagination-mask-color: $body-bg;
$pagination-holes-offset: 10px;



.gallery-slider {
  &.modal {
    .modal-header {
      .all {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 15px;
        text-decoration: none;
      }
    }

    .modal-body {
      margin: 0 auto;
    }
  }
}

.jumboslider {
  position: static;

  &:not(.showtime) .jumboslider-item {
    opacity: 0 !important;
  }

  &.showtime .jumboslider-item {
    opacity: 1;
  }

  .jumboslider-item {
    position: relative;
    min-height: 200px;
    overflow: auto;

    &:not(.done)::after {
      position: relative;
      z-index: 2;
      display: block;
      width: 32px;
      height: 32px;
      margin: 20px auto 50px;
      background: url('../images/spinner.gif') no-repeat 0 0;
      background-size: 32px auto;
      content: '';
    }

    header,
    .shot {
      width: $shot-width;
      max-width: $shot-max-width;
      margin: 0 auto;
    }

    header {
      padding: 20px 39px 0;

      p {
        margin: 0;
      }

      p,
      a,
      a:active {
        color: $body-bg !important;
      }
    }

    .shot {
      position: relative;
      padding: 8% $shot-side-offset;

      &:first-of-type { padding-top:    20px; }
      &:last-of-type  { padding-bottom: 20px; }

      img {
        @include box-shadow(0 0 10px rgba($gray-base, .8));

        display: block;
        width: 100%;
        height: auto;
        border: 1px solid $gray-dark;
      }

      + .shot::before {
        position: absolute;
        top: -52px;
        left: 0;
        display: block;
        width: 100%;
        font-size: 60px;
        color: $body-bg;
        text-align: center;
        content: '•';
      }
    }
  }

  .jumboslider-viewport:not(:last-child) .jumboslider-item .shot:last-of-type::after {
    display: block;
    height: 50px;
    content: '';
  }

  .jumboslider-pagination {
    $box-width: $pagination-dot-size + $pagination-holes-offset;
    $box-height: $pagination-dot-size;

    @include box-shadow(0 0 10px rgba($gray-base, .1));

    bottom: 0;
    left: 0;
    z-index: 2;
    height: 50px;
    background: $body-bg;
    border-top: 1px solid $gray-lightest;

    .holder {
      margin-top: 18px;
    }

    a {
      width: $box-width;
      height: $box-height;
      border-right: #{$pagination-holes-offset / 2 - 3} solid $pagination-mask-color;
      border-left: #{$pagination-holes-offset / 2 - 3} solid $pagination-mask-color;

      &:hover:not(.current)::after {
        background-color: $gray-999;
      }

      &:active:not(.current)::after {
        background-color: $gray-light;
      }

      &::after {
        $offset: 1px;

        left: $offset;
        width: calc(100% - #{$offset * 2});
      }
    }

    .jumboslider-pagination-current {
      width: $box-width;
      height: $box-height;

      &::after {
        width: $pagination-dot-size;
        height: $pagination-dot-size;
        background-color: $pagination-dot-color;
      }
    }
  }

  &.jumboslider-paginated {
    margin-bottom: 0;
  }

  .jumboslider-arrows a {
    $arrow-width: calc((100vw - #{$shot-width} + #{$shot-side-offset * 2}) / 2);

    top: 40px;
    bottom: 50px;
    width: $arrow-width;
    height: auto;
    opacity: 1;

    svg {
      max-width: 80px;
      fill: rgba($body-bg, .8);
    }

    &::after {
      @include border-radius(50%);
      @include box-shadow(0 0 250px 250px rgba($body-bg, .4));
      @include translateY(-50%);

      top: 50%;
      left: 50%;
      width: 0;
      height: 100px;
      opacity: 0;
    }

    html:not(.mobile) &:hover {
      background-color: transparent;

      &::after {
        opacity: .4;
      }

      svg {
        fill: rgba($body-bg, .9);
      }
    }

    &:active {
      &::after {
        opacity: .6 !important;
      }

      svg {
        fill: rgba($body-bg, 1) !important;
      }
    }
  }
}

.mobile {
  .jumboslider {
    .jumboslider-arrows {
      a {
        bottom: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .jumboslider-pagination,
    .jumboslider-viewport:not(:last-child) .jumboslider-item .shot:last-child::after {
      display: none;
    }
  }
}

.ios {
  .jumboslider {
    .jumboslider-item {
      padding-bottom: 80px;
    }
  }
}

@media screen and (max-width: 768px) {

  .jumboslider {
    .jumboslider-item {
      header,
      .shot {
        width: auto;
      }
    }

    .jumboslider-arrows a {
      $arrow-width: $shot-side-offset - 2px;

      width: $arrow-width;
    }
  }

}

@media screen and (max-width: 767px) {

  .jumboslider {
    .jumboslider-pagination,
    .jumboslider-viewport:not(:last-child) .jumboslider-item .shot:last-child::after {
      display: none;
    }

    .jumboslider-arrows a {
      bottom: 0;
    }
  }

}

@media screen and (min-width: 1600px) {

  .jumboslider {
    .jumboslider-arrows a {
      $arrow-width: calc((100vw - #{$shot-max-width} + #{$shot-side-offset * 2}) / 2);

      width: $arrow-width;
    }
  }

}
