mixin jquery(data)
  ul.items
    each item in data.content
      li.item
        header.bullet.cf
          h3.name
            a(href='http://' + item.name.toLowerCase() + '.martinmetodiev.com', target='_blank') #{item.name}
          span.info #{item.description}
          span.period.meta.light #{item.date}
