mixin jquery(data)
  ul.items
    each item in data.content
      li.item
        header.bullet.cf
          h3.name
            a(href='https://' + item.name + '.metodiev.dev', target='_blank') #{item.title}
          span.info #{item.description}
          span.period.meta.light #{item.date}
