/* =========================| Past involvements |========================= */



.section-involvements {

  header {
    position: relative;
    background-color: $col-marked !important;
  }

  .description {
    margin-top: 1.32%;
  }

  footer {
    margin-top: 1.32%;

    $label-width: 27%;

    label {
      float: left;
      width: $label-width;
    }

    p {
      padding-left: $label-width + 1.6%;
      margin-bottom: 0;
      word-wrap: break-word;
    }

    span {
      display: inline-block;
      white-space: nowrap;
    }
  }

}

@media screen and (max-width: 767px) {

  .portfolio .section-involvements {

    .item:not(:last-child) {
      margin-bottom: 5%;
    }

    .name {
      width: auto;
    }

    .period {
      display: none;
    }

    footer {
      label {
        float: none;
        width: auto;
      }

      p {
        padding-left: 0;
      }
    }

  }

}
