/* =========================| Print |========================= */



@media print {

  body {
    -webkit-print-color-adjust: exact;
  }

  .gallery,
  .gradient,
  header.page {
    display: none;
  }

  .portfolio {

    section .links {
      display: none;
    }

    a {
      text-decoration: none;
    }

    p:not(:last-of-type) {
      margin-bottom: 12px;
    }

    h2 {
      margin-bottom: 4px;
    }

    article {
      width: 600px;
      padding: 0 0 0 50px;
      font-size: 14px;
    }

    section {
      line-height: 1.4;
    }

    header.title {

      h1 {
        margin-bottom: -6px;
      }

      .contacts .contact {
        &.github {
          display: none;
        }

        &.phone,
        &.email {
          display: inline;
        }

        &.email {
          color: $link-normal-color;
        }
      }
    }

    header.title,
    section {
      margin-bottom: 32px;
    }

    .item:not(:last-child) {
      margin-bottom: 5px;
    }

    .section-jquery .item:not(:last-child) .details::after,
    .section-latest .item:not(:last-child) .details::after,
    .section-assignments .projects:not(:last-of-type) {
      margin-bottom: 14px;
    }

    .section-assignments {
      page-break-before: always;
    }

    .section-assignments {
      .websites a {
        font-size: 0;

        &::after {
          display: inline;
          font-size: 14px;
        }
      }
    }

    footer.page {
      padding-top: 0;
      font-size: 12px;
      color: $gray-999;
    }

  }

}
