include includes/libs/mixins

include includes/sections/summary
include includes/sections/past-involvements
include includes/sections/latest-project
include includes/sections/jquery-plugins
include includes/sections/past-assignments
include includes/sections/design-attempts

doctype html

= '\n\n'

| <!--[if IE]><![endif]-->
| <!--[if IE 9]><![endif]-->

= '\n'

html(lang='en')
  head
    title #{pkg.title}

    = '\n\n'

    | <!--[if lte IE 8]><meta http-equiv="refresh" content="0;URL='https://github.com/martinmethod'" /><![endif]-->

    = '\n'

    include includes/head/meta

    include includes/head/webapp

    include includes/head/social/google
    include includes/head/social/facebook
    include includes/head/social/twitter

    include includes/head/robots

    include includes/head/favicons

    include includes/head/styles

    include includes/head/fonts

  = '\n'

  body(ontouchstart='')
    section#document.portfolio
      article
        include includes/components/header

        each val, index in content
          = '\n'
          section(id='section-' + index, class='section-' + index)
            h2 #{val.label}
            +#{index}(val)

        = '\n'

        include includes/components/footer

    include includes/foot/scripts

    include includes/foot/analytics
