/* =========================| Body |========================= */



.portfolio {

  left: 0;
  z-index: 1;
  height: 100%;
  background-color: $body-bg;

  &.inactive {
    left: -100%;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  > article {
    width: 1660px;
    max-width: none;
    padding: 60px 273.37301587px 0 375.88789682px;
    margin: 0 auto;
    font-size: 26.25px;
  }

}

@media screen and (min-width: 1026px) and (max-width: 1659px) {

  .portfolio {

    > article {
      width: 1026px;
      padding-right: 165.34126984px; // 16.468253968%;
      padding-left: 227.34424603px; // 22.643849206%;
      font-size: $font-size-normal;
    }

  }

}

@media screen and (min-width: 768px) and (max-width: 1025px) {

  .portfolio {

    > article {
      width: 708px;
      padding: 60px 66.08px 0 108.256px;
    }

  }

}

@media screen and (max-width: 1025px) {

  .portfolio {

    > article {
      font-size: $font-size-small;
    }

  }

}

@media screen and (max-width: 767px) {

  .portfolio {

    > article {
      width: 100%;
      max-width: 480px;
      padding: 10px 16px 0;
    }

  }

}
